<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ea6fd788cd.js" defer crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="style.css">
    <title>Grid</title>
</head>

<body>
    <div class="container">
        <div class="item-container">        
            <span class="item item1"></span>
            <span class="item item2"></span>
            <span class="item item3"></span>
            
            <div class="item-conteudo conteudo1">
                <a href="https://github.com/">
                    <i class="fa-brands fa-github" style="font-size: 42px;"></i>
                </a>
            </div>
            
            <div class="item-conteudo conteudo2">
                <a href="https://github.com/">
                    <i class="fa-brands fa-github" style="font-size: 42px;"></i>
                </a>
            </div>
            
            <div class="item-conteudo conteudo3">
                <a href="https://github.com/">
                    <i class="fa-brands fa-github" style="font-size: 42px;"></i>
                </a>
            </div>
        </div>        
    </div>

    <script>
        
        function AddClass(){

        }

    </script>
</body>

</html>