<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/17d9373e9c.js" defer crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
    
    <link rel="stylesheet" href="style.css">
    <title>Grid</title>
</head>

<body>
    <div id="hall">
        <div class="content">
            
        </div>

        <div class="sun"></div>

        <div class="raios arg-raio1"></div>
        <div class="raios arg-raio2"></div>
        <div class="raios arg-raio3"></div>
        <div class="raios arg-raio4"></div>

    </div>

    <script src="app.js"></script>
</body>

</html>