* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgb(36,31,31);
}

.hall {
    border: 1px solid #fff;

    width: 100px;
    height: 100px;

    overflow: hidden;
}

.planet {
    position: relative;
    top: 50%;
    left: -50%;

    border: 1px solid #fa1;

    width: 200px;
    height: 200px;
    border-radius: 50%;

    /*animation: mov 10s linear infinite;*/
}

.sun {
    position: relative;
    top: -170%;
    left: -70%;


    width: 240px;
    height: 240px;
    border-radius: 50%;
    animation: mov 10s linear infinite ;
}

.planet-sun {
    position: relative;

    left: 47%;
    top: -7.9%;

    border: 10px solid rgb(206, 110, 0);

    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.raio {
    position: absolute;

    left: -7.5px;
    top: -7.5px;

    box-shadow: 0 0 5px 1px orange;

    width: 15px;
    height: 15px;

}

.a-raio {
    animation: mov 8s linear infinite ;
}

.b-raio {
    animation: mov 8s linear 1s infinite ;
}

.c-raio {
    animation: mov 8s linear 0.5s infinite ;
}

.d-raio {
    animation: mov 8s linear 1.5s infinite ;
}


.moon {
    position: relative;
    top: -412%;
    left: -60%;

    width: 220px;
    height: 220px;
    border-radius: 50%;

    animation: mov 10s linear infinite reverse  ;
}

.planet-moon {

    position: relative;

    left: 47%;
    top: 102%;

    border: 7px solid #fff;

    border-radius: 50%;
    width: 10px;
    height: 10px;
}

@keyframes mov {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}